html{
  height: 100%;
  font-size: 100%;
}

body {
  font: 13px arial;
}

nav{
  padding: 4px 20px;
}

ul{
  list-style: none;
  padding: 0px;
  line-height: 0px;
}

li{
  display: inline-block;
  padding: 5px 7px;
  vertical-align: middle;
}

.right-nav{
  float: right;
  position: relative;
  padding-top: 0px;
  padding-right: 8px;

}
.menu{
  width:16px;
  height: 16px;
  margin-top: -2px;
  padding-right: 9px;
  opacity: 0.75;
}

nav img{
   list-style: none;
   color: #000;
   opacity: 0.85;
}

nav a{
  text-decoration: none;
  color:black;
}

nav  a:hover {
  text-decoration-line: underline;
  opacity: 0.65;
}

.signin{
  border:1px solid #4285f4;
  background: #4485f3;
  outline: none;
  display: inline-block;
  line-height: 28px;
  border-radius: 3px;
  padding: 0 12px;
  color:#fff;
}

/*milieu*/
.google {
  text-align: center;
  display: block;
  clear: both;
  padding-top: 60px;
  padding-bottom: 60px;
}
#google_logo {
   width: 280px;
   height: 100px;
   margin-bottom: 20px;
}
.form {
  text-align: center;
}
#form-search {
  width: 450px;
  line-height: 35px;
  border-radius: 20px;
  margin-bottom: 30px;
}

#submit{
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

/*footer*/
footer{
  position:absolute;
  left: 0;
  right:0;
  bottom: 0;
  top: auto;
}
#footer1 {
  color:#666666;
  background-color: #f2f2f2;
  line-height: 0;
  position:absolute;
  border-top: solid 1px #e4e4e4;
  left: 0;
  right:0;
  bottom: 37px;
  padding-left: 20px;
}

#footer2 {
  color:#666666;
  background-color: #f2f2f2;
  line-height: 0;
  position:absolute;
  left: 0;
  right:0;
  border-top: solid 1px #e4e4e4;
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

footer a{
  text-decoration: none;
  color:#666666;
}

footer ul {
  float: left;
}

footer ul a:hover {
  text-decoration-line: underline;
}

.footer-right {
  float: right;
}
